*.aux
*.blg
*.bbl
*.bib.bbl
*.bib.blg
*.bib.blg
*.xml
*.log
*.bcf
*.toc
*.toc
*.out
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.xdy
guideline/
feedback/
seminar/
thesis_archive/
.clj-kondo
.shadow-cljs/
node_modules/
!resources/public
resources/public/js/
package-lock.json
