*.aux
*.blg
*.bbl
*.bib.bbl
*.bib.blg
*.bib.blg
*.xml
*.log
*.bcf
*.toc
*.toc
*.out
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.xdy
guideline/
feedback/
seminar/
thesis_archive/
src/.clj-kondo
src/.shadow-cljs/
src/node_modules/
src/!resources/public
src/resources/public/js/
src/package-lock.json
