:root  {
    --accent-0: #111a1e;
    --accent-1: #172024;
    --accent-2: #1d2629;
    --accent-3: #232b2f;
    --accent-4: #2a3135;
    --accent-5: #30373b;
    --accent-6: #363d40;
    --accent-7: #3c4346;
    --accent-8: #42494c;
    --accent-9: #484f52;
    --accent-10: #4e5558;
    --accent-11: #545b5d;
    --accent-12: #5a6063;
    --accent-13: #606669;
    --accent-14: #676c6f;
    --accent-15: #6d7274;
    --accent-16: #73787a;
    --accent-17: #797e80;
    --accent-18: #7f8486;
    --accent-19: #858a8c;
    --accent-20: #8b8f91;
    --accent-21: #919597;
    --accent-22: #979b9d;
    --accent-23: #9da1a3;
    --accent-24: #a4a7a8;
    --accent-25: #aaadae;
    --accent-26: #b0b3b4;
    --accent-27: #b6b9ba;
    --accent-28: #bcbebf;
    --accent-29: #c2c4c5;
    --accent-30: #c8cacb;
    --accent-31: #ced0d1;
    --accent-32: #d4d6d7;
    --accent-33: #dadcdc;
    --accent-34: #e1e2e2;
    --accent-35: #e7e8e8;
    --accent-36: #ededee;
    --accent-37: #f3f3f3;
    --accent-38: #f9f9f9;
    --accent-39: #ffffff;
    --neutral-background: linear-gradient(90deg, #0b1418, #0c1519, #0e171b, #0f181c, #111a1e);
    --neutral-gradient: linear-gradient(90deg, #172024, #182125, #1a2326, #1b2427, #1d2629);

    --fantasy-0: #001410;
    --fantasy-1: #002d26;
    --fantasy-2: #014237;
    --fantasy-3: #013d33;
    --fantasy-4: #01382f;
    --fantasy-5: #026555;
    --fantasy-6: #027e6a;
    --fantasy-7: #03977f;
    --fantasy-8: #03b094;
    --fantasy-background: linear-gradient(90deg, #0b1418, #081416, #051414, #021412, #001410);
    --fantasy-gradient:   linear-gradient(90deg, #002d26, #00322a, #00372e, #003c32, #014237);

    --sf-0: #1a1601;
    --sf-1: #332b01;
    --sf-2: #4c4002;
    --sf-3: #655502;
    --sf-4: #7e6a02;
    --sf-5: #977f03;
    --sf-6: #b09403;
    --sf-7: #c9a903;
    --sf-background: linear-gradient(90deg, #0b1418, #0e1412, #12150c, #161506, #1a1601);
    --sf-gradient:   linear-gradient(90deg, #332b01, #393001, #3f3501, #453a01, #4c4002);

    --poetic-0: #01111a;
    --poetic-1: #012233;
    --poetic-2: #02334c;
    --poetic-3: #024465;
    --poetic-4: #02557e;
    --poetic-5: #036697;
    --poetic-6: #0377b0;
    --poetic-7: #0388c9;
    --poetic-background: linear-gradient(90deg, #0b1418, #08131c, #061220, #031124, #011128);
    --poetic-gradient:   linear-gradient(90deg, #012233, #012639, #012a3f, #012e45, #02334c);

    --background-mixed: linear-gradient(90deg, #01111a, #031315, #091614, #12170f, #1a1601);

    --bg: #0B1418;
    --fg: #fff;
    --err: red;
    --ok: #529167;
    --highlight: var(--accent-30);
    --spinner-fill: var(--accent-35);

    --blurred-0: #c8cacb22;
    --blurred-1: #c8cacb35;
    --blurred-2: #c8cacb44;
}
