:root  {
    --accent-0: #111a1e;
    --accent-1: #172024;
    --accent-2: #1d2629;
    --accent-3: #232b2f;
    --accent-4: #2a3135;
    --accent-5: #30373b;
    --accent-6: #363d40;
    --accent-7: #3c4346;
    --accent-8: #42494c;
    --accent-9: #484f52;
    --accent-10: #4e5558;
    --accent-11: #545b5d;
    --accent-12: #5a6063;
    --accent-13: #606669;
    --accent-14: #676c6f;
    --accent-15: #6d7274;
    --accent-16: #73787a;
    --accent-17: #797e80;
    --accent-18: #7f8486;
    --accent-19: #858a8c;
    --accent-20: #8b8f91;
    --accent-21: #919597;
    --accent-22: #979b9d;
    --accent-23: #9da1a3;
    --accent-24: #a4a7a8;
    --accent-25: #aaadae;
    --accent-26: #b0b3b4;
    --accent-27: #b6b9ba;
    --accent-28: #bcbebf;
    --accent-29: #c2c4c5;
    --accent-30: #c8cacb;
    --accent-31: #ced0d1;
    --accent-32: #d4d6d7;
    --accent-33: #dadcdc;
    --accent-34: #e1e2e2;
    --accent-35: #e7e8e8;
    --accent-36: #ededee;
    --accent-37: #f3f3f3;
    --accent-38: #f9f9f9;
    --accent-39: #ffffff;

    --fg: #fff;

    --err: red;
    --ok: #529167;
    --highlight: var(--accent-30);

    --bg-transparent-1: #0B1418;
    --bg-transparent-2: #8b8f9133;

    --spinner-fill: var(--accent-35);

    --personality-neutral-inactive: linear-gradient(-46deg, var(--accent-6), var(--accent-7), var(--accent-8), var(--accent-9));
    --personality-neutral-active:   linear-gradient(-46deg, var(--accent-30), var(--accent-31), var(--accent-32), var(--accent-33));



    --fantasy-0: #001410;
    --fantasy-1: #002d26;
    --fantasy-2: #014237;
    --fantasy-3: #013d33;
    --fantasy-4: #01382f;
    --fantasy-5: #026555;
    --fantasy-6: #027e6a;
    --fantasy-7: #03977f;
    --fantasy-8: #03b094;

    --sf-0: #1a1601;
    --sf-1: #332b01;
    --sf-2: #4c4002;
    --sf-3: #655502;
    --sf-4: #7e6a02;
    --sf-5: #977f03;
    --sf-6: #b09403;
    --sf-7: #c9a903;

    --poetic-0: #01111a;
    --poetic-1: #012233;
    --poetic-2: #02334c;
    --poetic-3: #024465;
    --poetic-4: #02557e;
    --poetic-5: #036697;
    --poetic-6: #0377b0;
    --poetic-7: #0388c9;

    /* --personality-fantasy-inactive: linear-gradient(-46deg, var(--fantasy-0), var(--fantasy-1), var(--fantasy-2), var(--fantasy-3)); */
    /* --personality-fantasy-active:   linear-gradient(-46deg, var(--fantasy-4), var(--fantasy-5), var(--fantasy-6), var(--fantasy-7)); */

    /* --personality-sf-inactive:      linear-gradient(-46deg, var(--sf-0), var(--sf-1), var(--sf-2), var(--sf-3)); */
    /* --personality-sf-active:        linear-gradient(-46deg, var(--sf-4), var(--sf-5), var(--sf-6), var(--sf-7)); */

    /* --personality-poetic-inactive:  linear-gradient(-46deg, var(--poetic-0), var(--poetic-1), var(--poetic-2), var(--poetic-3)); */
    /* --personality-poetic-active:    linear-gradient(-46deg, var(--poetic-4), var(--poetic-5), var(--poetic-6), var(--poetic-7)); */

    --bg: #0B1418;
}
