@font-face {
    font-family: "Pigeonette";
    src: url("/fonts/PigeonetteV01-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Pigeonette";
    src: url("/fonts/PigeonetteV01-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pigeonette";
    src: url("/fonts/PigeonetteV01-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Obviously Narrow";
    src: url("/fonts/o/Obviously-Condensed.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "Obviously";
    src: url("/fonts/o/Obviously-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Obviously";
    src: url("/fonts/o/Obviously-Medium.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Obviously Wide";
    src: url("/fonts/o/Obviously-Wide_Medium.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: "Obviously Wide Thin";
    src: url("/fonts/o/Obviously-Wide_Thin.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Obviously Wide Light";
    src: url("/fonts/o/Obviously-Wide_Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
