:root {
    --bg: whitesmoke;
    --fg: black;
    --ia: gray;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1e1e1e;
        --fg: whitesmoke;
        --ia: gray;
    }
}

::selection {
    color: var(--fg);
    background: var(--ia);
}

* {
    box-sizing: border-box;
}  

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-size: 5px;
    font-family: "Obviously";
    font-weight: normal;
    color: var(--fg);
}

body {
    background-color: var(--bg);
    font-size: 4rem;
    line-height: 1.2;
    margin: 0 auto;
    text-align: left;
}

p {
    white-space: pre;
}

p a {
    color: var(--fg);
}

div a {
    color: var(--fg);
}

#mount {
    display: flex;
    flex-flow: column;
    height: 100%;

}

main {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    padding: 10rem;
    margin: 0 auto;
    justify-items: center;
    display: flex;
    flex-direction: column;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10rem;
    justify-items: stretch;
}

header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    font-weight: bold;
    display: flex;
    align-content: space-between;
    align-items: center;

    padding: 7rem 4rem 5rem 4rem;
    margin: 0 6rem 0 6rem;
    border: 1px solid var(--ia);
    border-width: 0 0 2px 0;

    font-size: 3rem;
    color: var(--ia);
    text-transform: uppercase;
}

header > a {
    color: var(--ia);
    text-decoration: none;
    padding-left: 5rem;
}

header :first-child {
    padding-left: 0rem;
    font-family: "Obviously Wide";
}

header :first-child {
    margin-right: auto;
}

a:hover {
    cursor: pointer;
    color: var(--fg);
}

li:hover {
    color: var(--fg);
}

.message {
    text-align: center;
    padding-bottom: 5rem;
    text-transform: uppercase;
}

.prompt {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.suggestion {
    grid-column: span 3;
    text-align: center;
    text-transform: uppercase;
}

textarea {
    resize: none;
    background-color: var(--bg);
    border: 1px solid var(--fg);
    font-family: "Pigeonette";
    font-size: 4rem;
    color: var(--fg);
    padding: 5rem;
    overflow: hidden;
}

.submit-btn {
    background-color: var(--bg);
    border: 1px solid var(--fg);
    padding: 3rem;
    cursor: pointer;

    font-family: "Obviously";
    text-transform: uppercase;
    color: var(--fg);
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
}

.submit-btn:hover {
    background-color: var(--fg);
    color: var(--bg);
}

.btn-inactive {
    color: var(--ia);
    border-color: var(--ia);
}

.btn-inactive:hover {
    color: var(--ia);
    border-color: var(--ia);
    background-color: var(--bg);
}

.prompt > textarea {
    height: 100%;
}

label {
    text-transform: uppercase;
    color: var(--ia);
    font-size: 3rem;
    margin-bottom: 5rem;
}

.setup-meta {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
}

.setup-meta > section {
    display: flex;
    flex-direction: column;
}

.author > textarea {
    height: 15rem;
}

.model {
    margin-top: 5rem;
    margin-bottom: auto;
}

.model > ul {
    border: 1px solid var(--fg);
}

.model > ul > li {
    padding: 5rem;
    cursor: pointer;
    border: 1px solid var(--fg);
    border-width: 0 0 1px 0;
}

.model > ul > li:hover {
    background-color: var(--fg);
    color: var(--bg);
}

.model > ul > li:hover {
    background-color: var(--fg);
    color: var(--bg);
}


.model > ul > li:last-child {
    border-width: 0;
}

.model-active {
    background-color: var(--fg);
    color: var(--bg);
}

.model > ul > li > div {
    color: var(--ia);
    cursor: pointer;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: normal;
    margin-top: 1rem;
}

.multiverse {
}

.pending {
    grid-area: c;
    color: var(--ia);
    font-style: italic;
}

aside {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: left;
    font-size: 3rem;
}

aside > section {
}

aside > section:last-child {
    margin-top: auto;
}

.byline {
    text-transform: capitalize;
}

.title {
}

aside h1 {
    font-family: "Obviously Narrow";
    color: var(--fg);
    margin-top: -2rem;
    font-size: 13rem;
    line-height: 12rem;
    margin-bottom: 3rem;
}

aside > section:nth-child(2) {
    color: var(--ia);
    margin-bottom: 5rem;
}

.map {
}

.map > nav {
    margin-left: -2rem;
}

.level {
    width: 15px;
    height: 15px;
    margin-bottom: 1rem;
    border-radius: 9999px;
}

.branch-active {
    background-color: var(--fg);
}

.branch-inactive {
    background-color: var(--ia);
}

.leaf-active {
    border: 2px solid var(--fg);
}

.leaf-inactive {
    border: 1px solid var(--ia);
}

.meta {
    color: var(--ia);
    text-transform: uppercase;
    font-size: 2rem;
}

.story {
    font-family: "Pigeonette";
    grid-column: span 2;
    overflow: auto;
}

.sentences {
    display: flex;
    flex-direction: column;
}


.sentence {
    padding-bottom: 5rem;
    cursor: pointer;
}

.highlight {
    color: var(--fg);
}

.inactive {
    color: var(--ia);
}

.children {
    color: var(--ia);
    cursor: pointer;
    font-style: italic;
}

.story > section > div {
    padding-bottom: 5rem;
    line-height: 1.5;
}

.child {
}

.child:hover {
    color: var(--fg);
}

.map {
    margin-bottom: 5rem;
}

.level {
    cursor: pointer;
}

.metadata {
    display: flex;
    align-content: space-between;
    align-items: center;

    border: 1px solid var(--ia);
    border-width: 0 0 2px 0;

    font-size: 3rem;
    color: var(--ia);
}

.litem {
    padding-left: 5rem;
}

.litem:first-child {
    padding-left: 0;
}

.about {
    grid-column: span 1;
}

.about > div {
    margin-bottom: 5rem;
    font-size: 4rem;
    line-height: 5rem;
}

.landing-wrapper {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10rem;
    justify-items: stretch;
    margin-top: 5rem;
    background-size: 900px auto;
}


.landing {
    grid-column: span 3;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.landing > h1 {
    font-family: "Obviously Wide Thin";
    font-size: 10vw;
    padding-bottom: 5rem;
}

.landing > div {
    margin: 0 auto;
}

.landing img {
    margin: 10rem 0 10rem 0;
    display: over;
    max-height: 450px;
}

.landing > div:nth-child(2) {
    font-size: 2.1vw;
}

.landing > div:nth-child(3) {
    font-size: 2.1vw;
    margin-bottom: auto;
}

.landing > div:last-child {
    font-size: 8rem;
    max-width: 800px;
    padding-bottom: 10rem;
}

.landing a {
    text-decoration: none;
    border: 1px solid var(--fg);
    padding: 0 2rem 1rem 2rem;
}

.landing a:hover {
    color: var(--bg);
    background-color: var(--fg);
    cusor: pointer;
}

.library {
    margin: 0;
    padding: 5rem 5rem 10rem 5rem;
}

.library a {
    text-decoration: none;
}

.library-item {
    grid-column: span 1;

    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: left;

    font-size: 3rem;

    padding: 5rem;
    margin-bottom: 5rem;
    max-height: 300px; /* TODO this might be too little */
}

.library-item h1 {
    font-family: "Obviously Narrow";
    margin-top: -2rem;
    font-size: 13rem;
    line-height: 12rem;
    margin-bottom: 3rem;
}

.library-item:hover {
    color: var(--bg);
    background-color: var(--fg);
    cursor: pointer;
}

.lauthor {
    margin-bottom: 5rem;
}

.linfo {
    color: var(--ia);
    text-transform: uppercase;
    font-size: 2rem;
}
