/* The main css file for Multiverse, makes heavy use of css variables
   Current a bit of a messy mix between classing and classless. 
   No real utility classes to speak of.
   Could probably do with a bit of a go-over, if you so wish.
*/


/* Variables */

:root {
    --bg: whitesmoke;
    --fg: black;
    --ia: gray;
    --ok: green;
    --err: red;
    --divider: #dbdbdb;
}

@media (prefers-color-scheme: dark) {
    :root {
	--bg: #1e1e1e;
	--fg: whitesmoke;
	--ia: gray;
        --ok: green;
        --err: red;
        --divider: #323232;
    }
}


/* Global */

::selection {
    color: var(--fg);
    background: var(--ia);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    font-size: 5px;
    font-family: "Obviously", sans-serif;
    font-weight: normal;
    color: var(--fg);
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--bg);
    font-size: 4rem;
    line-height: 1.2;
    margin: 0 auto;
    text-align: left;
}

p {
    white-space: pre;
}

p a {
    color: var(--fg);
}

div a {
    color: var(--fg);
}

a:hover {
    cursor: pointer;
    color: var(--fg);
}

#mount {
    display: flex;
    flex-flow: column;
    height: 100%;
}

main {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 10rem;
    margin: 0 auto;
    justify-items: center;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10rem;
    justify-items: stretch;
}


/* header */

header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-weight: bold;
    display: flex;
    align-content: space-between;
    align-items: center;
    padding: 7rem 4rem 5rem 4rem;
    margin: 0 6rem 0 6rem;
    border: 1px solid var(--ia);
    border-width: 0 0 2px 0;
    font-size: 3rem;
    color: var(--ia);
    text-transform: uppercase;
}

header>a {
    color: var(--ia);
    text-decoration: none;
    padding-left: 5rem;
}

header :first-child {
    padding-left: 0rem;
    font-family: "Obviously Wide", "Verdana", sans-serif;
    margin-right: auto;
}


/* new-story */

textarea {
    resize: none;
    background-color: var(--bg);
    border: 1px solid var(--fg);
    font-family: "Pigeonette", "Courier", monospace;
    font-size: 4rem;
    color: var(--fg);
    padding: 5rem;
    overflow: hidden;
}

.submit-btn {
    background-color: var(--bg);
    border: 1px solid var(--fg);
    padding: 3rem;
    cursor: pointer;
    font-family: "Obviously", sans-serif;
    text-transform: uppercase;
    color: var(--fg);
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
}

.submit-btn:hover {
    background-color: var(--fg);
    color: var(--bg);
}

.btn-inactive {
    color: var(--ia);
    border-color: var(--ia);
}

.btn-inactive:hover {
    color: var(--ia);
    border-color: var(--ia);
    background-color: var(--bg);
}

.prompt {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.prompt>textarea {
    height: 100%;
}

label {
    text-transform: uppercase;
    color: var(--ia);
    font-size: 3rem;
    margin-bottom: 5rem;
}

.setup-meta {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
}

.submit-btn {
    margin-top: auto;
}

.setup-meta>section {
    display: flex;
    flex-direction: column;
}

.author>textarea {
    height: 15rem;
}

.model {
    margin-top: 5rem;
    margin-bottom: auto;
}

.model>ul {
    border: 1px solid var(--fg);
}

.model>ul>li {
    padding: 5rem;
    cursor: pointer;
    border: 1px solid var(--fg);
    border-width: 0 0 1px 0;
}

.model>ul>li:hover {
    background-color: var(--fg);
    color: var(--bg);
}

.model>ul>li:last-child {
    border-width: 0;
}

.model-active {
    background-color: var(--fg);
    color: var(--bg);
}

.model>ul>li>div {
    color: var(--ia);
    cursor: pointer;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: normal;
    margin-top: 1rem;
}


/* sidebar */

aside {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: left;
    font-size: 3rem;
}

aside h1 {
    font-family: "Obviously Narrow", "Arial Narrow", sans-serif;
    color: var(--fg);
    margin-top: -2rem;
    font-size: 13rem;
    line-height: 12rem;
    margin-bottom: 3rem;
}

aside>section:nth-child(2) {
    color: var(--ia);
    margin-bottom: 5rem;
}

aside>section:nth-child(4) {
    margin-top: auto;
}

aside ul {
    margin: 5rem 0 5rem 0;
    display: flex;
    align-content: space-between;
    align-items: center;
}

aside li {
    padding: 3rem;
    flex-basis: 0;
    flex-grow: 1;
    color: var(--ia);
    border: 2px solid var(--ia);
    text-align: center;
}

aside li:first-child {
    border-width: 2px 0 2px 2px;
}

aside li:last-child {
    border-width: 2px 2px 2px 0;
}

aside li:hover {
    background-color: var(--ia);
    border-color: var(--ia);
    color: var(--bg);
    cursor: pointer;
}

aside li.active {
    color: var(--bg);
    background: var(--ia);
}

.title {
    display: flex;
    margin-bottom: 4rem;
}

.update-title {
    text-transform: uppercase;
    padding: 1rem;
    background: var(--bg);
    border: 0;
    color: var(--ia);
    font-family: "Obviously";
    font-weight: 600;
    font-size: 3rem;
}

.update-title-container {
    padding-bottom: 5px;
    margin-left: -25px;
    margin-top: auto;
}

.update-title:hover {
    color: var(--fg);
    border-color: var(--fg);
    cursor: pointer;
}

.byline {
    text-transform: capitalize;
}


/* map */

.map>nav {
    margin-left: -2rem;
    margin-bottom: 4rem;
}

.level {
    width: 15px;
    height: 15px;
    margin-bottom: 1rem;
    border-radius: 9999px;
}

.branch-active {
    background-color: var(--fg);
}

.branch-inactive {
    border: 1px solid var(--fg);
}

.leaf-active {
    background-color: var(--ia);
}

.leaf-active:hover {
    background-color: var(--ia);
}

.leaf-inactive {
    border: 1px solid var(--ia);
    display: none;
}

.meta {
    color: var(--ia);
    text-transform: uppercase;
    font-size: 2rem;
}


/* story view */

.story {
    font-family: "Pigeonette", "Courier", monospace;
    grid-column: span 2;
}

.sentences {
    /* white-space: pre; */
    /* overflow: auto; */
    overflow: auto;
    /* word-wrap: break-word; */
    line-height: 1.5;
}

.sentences > span {
    hyphens: auto;
}
.sentences > span:hover {
    cursor: pointer;
}

.sentences > span:first-of-type::before {
    content: "";
}

.sentences > span::before {
    content: "|";
    color: var(--divider);
    font-family: "Obviously Narrow";
}

.story>section>div {
    padding-bottom: 5rem;
    line-height: 1.5;
    cursor: pointer;
    display: flex;
}

.sentence {
    padding-bottom: 5rem;
    cursor: pointer;
}

.sentence-model {
    text-transform: uppercase;
    font-family: "Obviously", sans-serif;
    color: var(--ia);
    font-size: 2rem;
    min-width: 10rem;
    padding-top: 1rem;
    margin-right: 3rem;
    font-style: normal;
}

.pending {
    grid-area: c;
    color: var(--ia);
    font-style: italic;
}

.highlight {
    color: var(--fg);
}

.inactive {
    color: var(--ia);
}

.children {
    color: var(--ia);
    cursor: pointer;
    margin-top: 5rem;
}

.child:hover {
    color: var(--fg);
}

.unvisited {
    font-style: italic;
}

.visited {
    font-style: regular;
    color: var(--fg);
}

.scribble {
    height: 5rem;
    margin-left: 15rem;
}


/* story map */

.map {
    margin-bottom: 5rem;
}

.level {
    cursor: pointer;
}


/* about */

.about {
    grid-column: span 1;
}

.about>div {
    margin-bottom: 5rem;
    font-size: 4rem;
    line-height: 5rem;
}


/* landing */

.landing-wrapper {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10rem;
    justify-items: stretch;
    margin-top: 5rem;
    background-size: 900px auto;
}

.landing {
    grid-column: span 3;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing>h1 {
    font-family: "Obviously Wide Thin", "Arial Narrow", sans-serif;
    font-size: 10vw;
    padding-bottom: 5rem;
}

.landing>div:nth-child(2) {
    font-size: 2.1vw;
}

.landing>div:nth-child(3) {
    font-size: 2.1vw;
    margin-bottom: auto;
}

.landing>div:last-child {
    font-size: 8rem;
    max-width: 800px;
    padding-bottom: 10rem;
}

.landing a {
    text-decoration: none;
    border: 1px solid var(--fg);
    padding: 0 2rem 1rem 2rem;
}

.landing a:hover {
    color: var(--bg);
    background-color: var(--fg);
    cusor: pointer;
}

.open-ai-key {
    margin: 0 auto;
    padding-top: 15rem;
    display: flex;
}

.open-ai-key p, .open-ai-key div {
    font-size: 5rem;
    padding-top: 2rem;
}

.open-ai-key-input {
    text-align: center;
    width: 180rem;
    height: 10rem;
    padding: 2rem;
    margin: 0 5rem;
}

.open-ai-key-valid {
    border-color: var(--ok);
    border-width: 2px;
}

.open-ai-key-invalid {
    border-color: var(--err);
    border-width: 2px;
}

.circles {
    margin: 5rem 0 5rem 0;
}

.circle {
    transition: 0.3s;
}

.circle.filled:hover {
    fill: var(--fg);
    stroke: var(--fg);
}


/* library */

.library {
    margin: 0;
    flex-grow: 0;
    /* HACK */
    padding: 5rem 5rem 10rem 5rem;
}

.library a {
    text-decoration: none;
}

.library-item {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: left;
    font-size: 2rem;
    padding: 5rem;
    margin-bottom: 5rem;
    max-height: 300px;
    /* TODO this might be too little */
}

.library-item h1 {
    font-family: "Obviously Narrow", "Arial Narrow", sans-serif;
    margin-top: -2rem;
    font-size: 13rem;
    line-height: 12rem;
    margin-bottom: 3rem;
}

.library-item:hover {
    color: var(--bg);
    background-color: var(--fg);
    cursor: pointer;
}

.lauthor {
    margin-bottom: 5rem;
    color: var(--ia);
}

.linfo {
    display: flex;
    color: var(--ia);
    text-transform: uppercase;
    font-size: 2rem;
}

.linfo>div:last-child {
    margin-left: auto;
}

.library-item:hover .delete {
    display: block;
}

.delete {
    margin-left: auto;
    display: none;
}

.delete:hover {
    color: red;
}

.toggles {
    margin: 0 0 5rem 5rem;
    text-transform: uppercase;
    font-size: 3rem;
    grid-column: span 3;
    height: 5rem;
    color: var(--ia);
    display: flex;
    align-items: center;
    height: 8rem;
    border-color: var(--ia);
}

.toggles>select {
    padding: 0;
    font-family: "Obviously", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: var(--bg);
    color: var(--ia);
    margin: 0 auto 0 2rem;
    border: 0px solid var(--fg);
    appearance: none;
}

.toggles>div {
    margin-bottom: -1px;
}

.toggle>select>option {
    text-transform: lowercase;
}

.toggles>select:hover {
    color: var(--fg);
    cursor: pointer;
}

.toggles>span {
    border: 1px solid;
    margin-right: 5rem;
    padding: 3rem 4rem 3rem 4rem;
}

.toggles>span:hover {
    cursor: pointer;
    color: var(--bg);
    border-color: var(--fg);
    background-color: var(--fg);
}
