:root {
    --space-full: 40px;
    --space-double: calc(var(--space-full) * 2);
    --space-half: calc(var(--space-full) / 2);
    --space-quarter: calc(var(--space-full) / 4);
    --space-eight: calc(var(--space-full) / 8);
}

/* Global */

*, *::before, *::after  {
    box-sizing: border-box;
    transition: all 0.20s;
}

input, button, textarea, select {
    font: inherit;
}

html,
body {
    height: 110%;
    margin: 0;
    overflow: hidden;
}

html {
    background-color: var(--bg-base);
    font-size: 5px;
    -webkit-font-smoothing: antialiased;
}

body {
    color: var(--fg);
    font: 400 15px/1.4 "Recursive", sans-serif;

    background: var(--bg-0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

a {
    color: var(--fg);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: var(--fg);
}

p a {
    color: var(--fg);
    text-decoration: none;
    padding-bottom: 2px;
    border: 1px solid var(--accent-12);
    border-width: 0 0 1px 0;
}

p a:hover {
    border-color: var(--fg)
}

#mount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
}

/* input elements */

label {
    font: 12px/1 "Obviously", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.offset-label {
    margin-left: 7px;
}

button {
    font-family: "Obviously", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3rem;
    color: var(--fg);
    background-color: var(--accent-6);
    width: auto;
    padding: 2rem 4rem;
    border: 1px solid var(--accent-7);
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-10);
}

button:disabled:hover {
    background-color: var(--accent-4);
}

button:disabled {
    background-color: var(--accent-4);
    border-color: var(--accent-5);
    color: var(--accent-10);
    cursor: not-allowed;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

textarea {
    resize: none;
    overflow: hidden;
    color: var(--fg);
    background-color: var(--accent-6);
    border: 1px solid var(--accent-7);
    padding: 3rem;
    font-size: 16px;
}

textarea:hover {
    background-color: var(--accent-10);
    border: 1px solid var(--accent-10);
}

textarea:focus {
    background-color: var(--accent-10);
    border: 1px solid var(--accent-10);
}

.textarea-small {
    height: 50px;
    width: 100%;
}

.textarea-large {
    height: 125px;
    width: 100%;
    overflow: scroll;
}

/* utility classes */

.mono {
    font-variation-settings: "MONO" 1;
    font-family: "Recursive", monospace;
}

.v-stack {
    display: flex;
    flex-direction: column;
}

.spaced {
    justify-content: space-between;
}

.centered {
    align-items: center;
}

.h-equal-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.v-equal-3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.h-equal-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.h-stack {
    display: flex;
    flex-direction: row;
}

.pad-eight   { padding: var(--space-eight)   }
.pad-quarter { padding: var(--space-quarter) }
.pad-half    { padding: var(--space-half)    }
.pad-full    { padding: var(--space-full)    }
.pad-double  { padding: var(--space-double)  }

.gap-eight   { gap: var(--space-eight);   }
.gap-quarter { gap: var(--space-quarter); }
.gap-half    { gap: var(--space-half);    }
.gap-full    { gap: var(--space-full);    }
.gap-double  { gap: var(--space-double);  }

.rounded-large { border-radius: 20px; }
.rounded       { border-radius: 10px; }

.border {
    border: 1px solid var(--accent-4);
}

.blurred {
    background-color: var(--bg-transparent-1);
    backdrop-filter: blur(10px);
}

.blurred-medium {
    background-color: var(--bg-transparent-2);
    backdrop-filter: blur(5px);
}

.overlay {
    /* background: var(--bg-overlay); */
}

.shadow-large {
    box-shadow: 1px 1px 1.9px rgba(0, 0, 0, 0.019), 2.6px 2.6px 4.8px rgba(0, 0, 0, 0.027), 5.3px 5.3px 9.7px rgba(0, 0, 0, 0.033), 11px 11px 20.1px rgba(0, 0, 0, 0.041), 30px 30px 55px rgba(0, 0, 0, 0.06);
}

.shadow-medium {
    box-shadow: 1.4px 1.4px 3.2px rgba(0, 0, 0, 0.008), 3.3px 3.3px 7.7px rgba(0, 0, 0, 0.012), 6.3px 6.3px 14.1px rgba(0, 0, 0, 0.015), 11.2px 11.2px 23.9px rgba(0, 0, 0, 0.018), 20.9px 20.9px 40px rgba(0, 0, 0, 0.022), 50px 50px 80px rgba(0, 0, 0, 0.03);
}

.shadow-small {
    box-shadow: 0.5px 0.5px 4.1px rgba(0, 0, 0, 0.01), 1.3px 1.3px 10.4px rgba(0, 0, 0, 0.015), 3px 3px 25px rgba(0, 0, 0, 0.02), 10px 10px 80px rgba(0, 0, 0, 0.03);
}

/* app-layout */

.app-container {
    width: 100%; 
    height: 100%;
    align-items: center;
}

/* tooltips */

.tooltip {
    color: var(--fg);
    font: 500 10px/1.4 "Obviously", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0%;
    background-color: var(--bg-transparent-2);
    backdrop-filter: blur(5px);
    text-align: center;
    padding: 8px 12px;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    width: 80px;
    margin-left: -40px;
    border: 1px solid var(--accent-4);
}

.tooltip-large {
    top: 125%;
    width: 100px;
    margin-left: -50px;
}

.tooltip-container {
    position: relative;
}

.tooltip-container:hover .tooltip {
    opacity: 100%;
}

/* header */

.header {
    width: 100%;
    height: auto;
    padding: var(--space-half) var(--space-full);
    color: var(--accent-20);
}

.header-wordmark  {
    font-family: "Obviously Wide", "Verdana", sans-serif;
    text-transform: uppercase;
}

.title {
    font-family: "Obviously", "Verdana", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--fg);
    font-size: 13px;
}

.title:hover {
    color: var(--highlight);
    cursor: pointer;
}

.title-library {
    text-transform: uppercase;
    letter-spacing: 1px;
}


.spinner-1 { animation: fade 1.5s ease infinite alternate; }
.spinner-2 { animation: fade 1.5s ease infinite alternate; animation-delay: 0.5s;}
.spinner-3 { animation: fade 1.5s ease infinite alternate; animation-delay: 1s;}

@keyframes fade {
    0%   { opacity: 100; }
    100%  { opacity: 0; transform: translate(0, 10px)}
}

.icon {
}

.icon:hover {
    fill: var(--accent-20);
    stroke: var(--accent-20);
}

/* new-story */

.new-story {
    align-items: center;
    margin-top: 150px;
}

.new-story-container {
    padding: var(--space-full) var(--space-double);
}

.prompt {
    margin: 0 -20px;
}

.prompt-title {
    font: 24px/24px "Obviously Wide", "Arial Narrow", sans-serif;
    text-transform: uppercase;
}

/* map */

.map {
    width: 100%;
    height: 100%;
}

.level {
    height: 13px;
    padding: 5px;
}

.node {
    width: 20px;
    height: 10px;
    border-radius: 9999px;
}

.branch-active > .node {
    border: 1px solid var(--spinner-fill);
    background-color: var(--spinner-fill);
}

.branch-active:hover > .node {
    background-color: var(--accent-30);
}

.branch-inactive > .node {
    border: 2px solid var(--accent-10);
}

.leaf-active > .node {
    background-color: var(--accent-30);
}

.leaf-active:hover > .node {
    background-color: var(--accent-30);
}

.level {
    cursor: pointer;
}

/* personalities */

.personalities {
    grid-row: span 2;
    border: 1px solid var(--accent-5);
    margin: var(--space-half);
    margin-left: var(--space-double);
    background-color: #111f25;
}

.personality {
    height: 45px;
    width: 45px;
    border: 1px solid var(--accent-10);
    border-radius: 9999px;
    background: var(--accent-8);
    cursor: pointer;
}

.personality:hover {
    background: var(--accent-20);
}

.personality-active {
    background: var(--accent-20);
}

.personality:first-of-type {
    background: var(--personality-1);
    border-color: var(--accent-4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* story view */

.story {
    font-size: 20px;
    line-height: 1.6;
    height: 94vh;
    border: 1px solid var(--accent-5);
    border-width: 1px 0 0 0;

    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 8% 40% 52%;
    align-items: start;
    justify-items: center;
}

.sentences {
    overflow: scroll;
    height: 100%;
    width: 100%;
    max-width: 900px;
    max-height: 100%;
    font-size: 16px;

    padding-left: var(--space-double);
}

.sentences > span {
    hyphens: auto;
}

.sentences > span:hover {
    cursor: pointer;
}

.sentences > span:last-of-type::after {
}

.branch-marks {
    margin-left: 8px;
}

.branch-mark {
    border: 1px solid var(--accent-20);
    border-width: 0 2px 0 0;
    content: "";
    margin: 0 2px;
}

.weak-branch-mark {
    border: 1px solid var(--accent-10);
    border-width: 0 2px 0 0;
    content: "";
    margin: 0 2px;
}


.sentence {
    cursor: pointer;
}

.parent {
    margin-right: 4px;
}

.pending {
}

.highlight {
    color: var(--highlight);
}

.children {
    grid-column: span 2;
    cursor: pointer;
    border: 1px solid var(--accent-5);
    border-width: 1px 0 0 0;
    width: 100%;
}

.parent {
    line-height: 1;
    padding: 10px 0;
}

.child {
    text-align: left;
    border: 1px solid transparent;
    padding: var(--space-half);
    border-radius: 20px;
    max-width: 100%;
}

.child:hover {
    color: var(--fg);
    font-variation-settings: "CASL" 0, "CRSV" 0, "slnt" 0;

    background-color: var(--bg-transparent-1);
    backdrop-filter: blur(10px);
    border-color: var(--accent-4);

    box-shadow: 1.4px 1.4px 3.1px rgba(0, 0, 0, 0.008), 3.3px 3.3px 7.7px rgba(0, 0, 0, 0.012), 6.3px 6.3px 14.1px rgba(0, 0, 0, 0.015), 11.1px 11.1px 23.9px rgba(0, 0, 0, 0.018), 20.9px 20.9px 40px rgba(0, 0, 0, 0.022), 50px 50px 80px rgba(0, 0, 0, 0.03);
}

.visited {
}

.unvisited {
    font-variation-settings: "CASL" 1, "CRSV" 0, "slnt" -15;
    color: var(--accent-25);
}

.scribble {
    height: 5rem;
    margin-left: 15rem;
}

.inactive {
    color: var(--accent-15);
}


/* landing */

.landing {
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 2;
}

.landing-container {
    margin-top: 200px;
}

h1 {
    font: 54px/54px "Obviously Wide Light", "Arial Narrow", sans-serif;
    text-transform: uppercase;
}

.landing-subtitle {
    text-transform: uppercase;
    font-size: 2.14vw;
    font: 500 2.14vw/1 "Obviously", sans-serif;
    text-align: center;
}

.landing-blurb {
    margin-top: 15px;
    max-width: 600px;
    font-size: 20px;
}

.landing-blurb > p {
    white-space: normal;
}


/* key input */

.key-input-container {
    min-width: 400px;
    max-width: 600px;
    margin-top: 80px;
}

.key-input {
}

.key-valid {
    border-color: var(--ok);
}

.key-valid:focus {
    border-color: var(--ok);
}

.key-invalid {
    border-color: var(--err);
}

/* library */

.library {
    margin: var(--space-full) auto;
    max-width: 1200px;
    overflow: auto;
    height: 85vh;
}

.library-button {
    font-size: 12px;
}

.library-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--space-full);
}

.library-item {
    font-size: 2rem;
}

.library-item h2 {
    font-family: "Obviously Narrow", "Arial Narrow", sans-serif;
    margin-top: -2rem;
    font-size: 13rem;
    line-height: 12rem;
    margin-bottom: 3rem;
}

.library-item:hover {
    background-color: var(--accent-7);
    border-color: var(--accent-7);
    cursor: pointer;
}

.library-item-new-story-card {
    align-items: center;
    justify-content: center;
}

.library-item-new-story {
    padding: 30px 48px;
    border: 1px solid var(--accent-12);
    border-radius: 99999px;
    font-size: 40px;
    font-weight: 100;
    color: var(--accent-30);
}

.library-item-new-story:hover {
    background-color: var(--accent-12);
    border-color: var(--accent-12);
    color: var(--fg);
    cursor: pointer;
}

/* radial map */

#radial-map {
    height: 100%;
    width: 100%;
    border: 1px solid var(--accent-5);
    border-width: 0 0 0 1px;
}

#radial-map-tree {
}

.radial-map-link {
    fill: none;
    stroke: var(--accent-10);
    stroke-width: 1px;
}

.radial-map-link-active {
    fill: none;
    stroke: var(--highlight);
    stroke-width: 2px;
}

.radial-map-link-prospective {
    fill: none;
    stroke: var(--accent-20);
    stroke-width: 1px;
    stroke-dasharray: 4;
}

.tree-map-node-root {
    fill: var(--accent-20);
    stroke: var(--accent-20);
    stroke-width: 3px;
    cursor: pointer;
}

.tree-map-node-current {
    cursor: pointer;
    fill: var(--accent-30);
    stroke: var(--accent-20);
    stroke-width: 3px;
}

.tree-map-node-current-dim {
    fill: var(--accent-10);
    stroke: var(--accent-10);
    stroke-width: 3px;
    cursor: pointer;
}

.tree-map-node-current-superseded {
    fill: var(--accent-20);
    stroke: var(--accent-20);
    cursor: pointer;
}

.tree-map-node-highlight {
    cursor: pointer;
    fill: var(--accent-30);
    stroke: var(--accent-30);
    stroke-width: 3px;
}

.tree-map-node-active {
    fill: var(--highlight);
    cursor: pointer;
}

.tree-map-node-inactive {
    fill: var(--accent-10);
    cursor: pointer;
}

.tree-map-node-prospective {
    fill: var(--bg);
    stroke: var(--accent-20);
    stroke-dasharray: 4;
}

.tree-map-node-prospective {
    fill: var(--bg);
    stroke: var(--accent-20);
    stroke-dasharray: 4;
    cursor: pointer;
}

.tree-map-node-active:hover, .tree-map-node-root:hover, .tree-map-node-current:hover, .tree-map-node-inactive:hover  {
    fill: var(--fg);
    cursor: pointer;
}

.hidden {
    display: none;
}
